.home {
    text-align: center;
    .logo{
        margin: auto;
        display: block;
        width: 180px;
    }
    #magicwall {
        margin-bottom: 0;
    }

    #subtitle {
        margin-bottom: 50px;
    }

    .download-btn {
        margin-top: 50px;
    }

    .btn {
        margin-top: 50px;
    }
}